body {
    background-color: rgb(220, 220, 0);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}


header, footer {
    background-color: rgb(200, 200, 200);
    border: solid .5rem rgb(20, 20, 220);
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    width: 1150px;
}

header h1 {
    text-align: center;
}

nav, footer{
    display: flex;
    margin: 0 auto;
}

.nav, .footer {
    background-color: rgb(180, 180, 180);
    border: solid .2rem rgb(20, 20, 220);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    line-height: 1.2rem;
    margin: 2rem;
    max-width: 1150px;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: underline rgb(20, 20, 220);
}

.footer {
    margin: 0 auto;
}


main {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    max-width: 1150px;
}

section {
    background-color: rgb(150, 150, 150);
    flex-direction: column;
    padding: .5rem;
    width: 70%;
}

aside {
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
    flex-direction: column;
    padding: .5rem;
    width: 30%;
}

#modal {
    background-color: rgb(0, 200, 0);
    border: solid 5px rgb(220, 220, 220);
    border-radius: 1rem;
    color: rgb(20, 20, 20);
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem auto;
    padding: 2rem;
}



.modal {
    background-color: rgb(120, 120, 120);
    height: 100vh;
    width: 100vw;
}

.modal__box {
    border: solid 5px rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 2rem;
}

.modal__header {
    display: flex;
    margin: 0 auto;
}

.modal__content {
    display: flex;
    margin: 0 auto;
}

.modal__footer {
    display: flex;
    margin: 0 2rem 0 auto;
}

